In [1]:
# Importing the dataset
dataset = read.csv('50_Startups.csv')

In [3]:
head(dataset)

  R.D.Spend Administration Marketing.Spend State      Profit
1 165349.2  136897.80      471784.1        New York   192261.8
2 162597.7  151377.59      443898.5        California 191792.1
3 153441.5  101145.55      407934.5        Florida    191050.4
4 144372.4  118671.85      383199.6        New York   182902.0
5 142107.3   91391.77      366168.4        Florida    166187.9
6 131876.9   99814.71      362861.4        New York   156991.1

In [4]:
dataset$State= factor(dataset$State,
                      levels= c('New York', 'California', 'Florida'),
                      labels= c(1,2,3))
dataset$State

 [1] 1 2 3 1 3 1 2 3 1 2 3 2 3 2 3 1 2 1 3 1 2 1 3 3 1 2 3 1 3 1 3 1 2 3 2 1 3 2
[39] 1 2 2 3 2 1 2 1 3 2 1 2
Levels: 1 2 3

In [5]:
# Splitting the dataset into the Training set and Test set
# install.packages('caTools')
library(caTools)
set.seed(123)
split = sample.split(dataset$Profit, SplitRatio = 0.8)
training_set = subset(dataset, split == TRUE)
test_set = subset(dataset, split == FALSE)

In [6]:
head(training_set)

  R.D.Spend Administration Marketing.Spend State Profit
1 165349.2  136897.80      471784.1        1     192261.8
2 162597.7  151377.59      443898.5        2     191792.1
3 153441.5  101145.55      407934.5        3     191050.4
6 131876.9   99814.71      362861.4        1     156991.1
7 134615.5  147198.87      127716.8        2     156122.5
9 120542.5  148718.95      311613.3        1     152211.8

In [21]:
# When State variable was encoded as factors, lm library automatically created dummy variables
# and took care of the dummy variable trap (i.e., only use n-1 dummy variables in the formula)


# formula= Profit ~.
regressor= lm(formula= Profit~ R.D.Spend + Marketing.Spend, 
              data= dataset)
summary(regressor)

Call:
lm(formula = Profit ~ R.D.Spend + Marketing.Spend, data = dataset)

Residuals:
   Min     1Q Median     3Q    Max
-33645  -4632   -414   6484  17097

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)     4.698e+04  2.690e+03  17.464   <2e-16 ***
R.D.Spend       7.966e-01  4.135e-02  19.266   <2e-16 ***
Marketing.Spend 2.991e-02  1.552e-02   1.927     0.06 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 9161 on 47 degrees of freedom
Multiple R-squared:  0.9505,	Adjusted R-squared:  0.9483
F-statistic: 450.8 on 2 and 47 DF,  p-value: < 2.2e-16